---
import BaseLayout from 'src/layouts/ru/Base.astro';

import { getData, extractEpisodeName } from 'src/lib/podcasts.astro';

const { feed, seasons } = await getData();

const { url } = Astro;

const meta = {
  title: 'Подкаст',
  description: `${feed.title}. ${feed.description}`,
};
---

<BaseLayout meta={meta}>
  <main>
    <h2>Подкаст</h2>
    {
      Object.keys(seasons)
        .reverse()
        .map((season) => {
          return (
            <div class="archive">
              <h3 class="archive__items-title">{season} сезон</h3>
              <ul class="archive__items">
                {seasons[season].map((podcast) => (
                  <li class="archive__item">
                    <a
                      href={`/ru/podcasts/${extractEpisodeName(podcast.link)}`}
                    >
                      {podcast.title}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          );
        })
    }
  </main>
</BaseLayout>
