---
import Header from './_header.astro';
import BaseLayout from 'src/layouts/ru/Base.astro';
import { getArchive } from 'src/lib/posts.astro';
import { formatShortDate } from 'src/lib/content';

const archive = await getArchive();

const title = 'Архив записей';
const meta = {
	title,
	description: '',
};
---
<BaseLayout meta={meta}>
	<main>
        <Header title={title} />
        {archive.map(([year, posts]) => (
            <section class="archive">
                <h3 class="archive__items-title">{year}</h3>
				<ul class="archive__items">
					{posts.map((post) => (
						<li class="archive__item">
							<a href={post.url}>{post.frontmatter.title}</a>    

							{post.frontmatter.pubDate ? (
								<time datetime={post.frontmatter.pubDate}>
									{post.frontmatter.pubDate && formatShortDate(post.frontmatter.pubDate)}
								</time>
							) : null}
							
						</li>
					))}
				</ul>
		    </section>
        ))}
	</main>
</BaseLayout>
