---
import GoogleAnalytics from 'src/components/GoogleAnalytics.astro';
import { SITE_TITLE } from 'src/config';
import 'src/styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon image_src" href="/favicon.svg">

<!-- Primary Meta Tags -->
<title>{title  ? `${title} | ${SITE_TITLE}` : SITE_TITLE}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />  

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image ? (<meta property="og:image" content={new URL(image, Astro.url)} />) : null }

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image ? (<meta property="twitter:image" content={new URL(image, Astro.url)} />) : null }

<GoogleAnalytics />
