---
import Analytics from 'src/components/Analytics.astro';
import { SITE_TITLE } from 'src/config';
import 'src/styles/global.css';

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const faviconURL = import.meta.env.BASE_URL + 'favicon.svg';
const { title, description, image } = Astro.props;

const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={faviconURL} />
<link rel="apple-touch-icon image_src" href={faviconURL} />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:title" content={pageTitle} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{
  image ? (
    <meta property="og:image" content={new URL(image, Astro.url)} />
  ) : null
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={description} />
{
  image ? (
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  ) : null
}

<Analytics />
