---
import Link from "src/components/Link.astro";
import { getFeaturedPosts } from "src/lib/posts.astro";
import { readingTime } from "src/locales";

const lastPosts = await getFeaturedPosts(3);

---
<style>
  .section-posts__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .section-posts__title {
    display: block;
    font-size: 2.4em;
    margin-bottom: 1em;
  }
  
  .section-posts__more {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .section-posts__sections {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  
  .section-posts__section {
    flex: 1;
    margin-bottom: 1em;
  }
  
  .section__post-meta {
    font-size: 0.8em;
    color: #999;
    margin: 1em 0;
  }
  
  .section__post-title {
    color: #fff;
    font-size: 1.5em;
    margin: 1em 0;
  }
  
  .section__post-image {
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    opacity: 0.7;
    transition: all 0.5s;
  }
  
  
  .section__post-image:hover {
    opacity: 1;
  }
  
  @media (max-width: 768px) {
    .section-posts__header {
      display: block;
    }
    .section-posts__section--last {
      display: none;
    }
  }    
</style>
<div class="section-posts__container">
    <div class="section-posts__header">
      <div class="section-posts__title">
          Интересные заметки
      </div>
      <Link class="section-posts__more" href="/ru/posts">все записи →</Link>
    </div>

    <div class="section-posts__sections">
      {lastPosts.map((post, index) => (        
        <Link href={post.url} class={`section-posts__section ${(lastPosts.length - 1) === index ? 'section-posts__section--last' : ''}`}>
        <div class="section__post-image" style={`background-image: url('${post.frontmatter.heroImage}')`}></div>
        <div class="section__post-meta">
            {post.frontmatter.pubDate}
            — 
            {readingTime(post.frontmatter.minutesRead)}
        </div>
        <div class="section__post-title">
            {post.frontmatter.title}
        </div>
        </Link>
    ))}
    </div>

  </div>